PORT=5000
MONGODB_URI=mongodb+srv://ghimirerohit21_db_user:3QACCzuLtXzPvDsR@ecommerce.u2hvpxn.mongodb.net/?appName=ecommerce
JWT_SECRET=production_ready_secret_key_987654321
GOOGLE_CLIENT_ID=837458393193-ppc9c70il4234j9g8r84kj2lg1429e05.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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